* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ENCABEZADO */

a {
  text-decoration: none;
  list-style-type: none;
}

body{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  padding-top: 130px;
}

header {
  width:100%;
  background: rgb(1, 206, 209);  
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  flex-basis: 10%;
  padding: 0 10px;
}

.nombreConsultora{
  font-size: 1rem;
  color: rgba(250, 102, 49, 0.747);
  text-align: start;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-basis: 70%;
  justify-content: space-around;
  align-items: center;
  color: white;
  line-height: 40px;
}

nav ul li{
  width: 120px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align:center;
  align-content: center;
  list-style: none;
  border-radius: 3px;
}

ul li a{
  display: block;
  text-decoration: none;
  text-transform:uppercase;
  cursor:pointer;
  padding: 5px 5px;
  border-radius: 3px;
  text-align: center;
}

ul li a:hover,
ul li a:active{
  color:whitesmoke;
  background-color: rgb(253, 137, 95);
  transition: .5s;
}


/* MAIN */

main {
  height: 100%;
  width: 100%;
  padding: 15px;
  grid-area: main;
}

/* MAIN INDEX */

.bienvenida {
  word-spacing:30px;
  line-height: 50px;
  font-family:'Rubik Glitch', cursiva; 
  text-align: center;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

/* PIE DE PAGINA */

footer {
  background-color: rgb(1, 206, 209);  
  width: 100%;
  text-align: center;
  font-size: 0.9375rem;
  color:rgb(0, 0, 0);
  padding: 5px;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.iconos {
  width:3%;
  border-color: rgb(247, 245, 245);
  border: 1px solid whitesmoke;
}

/* MENU: NOSOTROS */

.menuNosotros{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "nosotrosUno nosotrosDos nosotrosTres";
  grid-column-gap: 5px;
}

.nosotrosUno{
  grid-area: nosotrosUno;
}

.nosotrosDos{
  grid-area: nosotrosDos;
}

.noosotrosTres{
  grid-area: nosotrosTres;
}

.nosotros {
  background-color: rgb(241, 156, 125);
  padding: 20px;
  border-radius: 15px;
  margin-left: 1%;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nosotrosImagen {
  width: 100%;
  height: 50%;
}

.nosotrosTitulo {
  color: rgb(29, 11, 143);
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nosotrosParrafo {
  text-align: justify;
  color:black;
}

/* MENU SERVICIOS */

#servicios {
  font-size: 1.25rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "servicioUno servicioDos servicioTres"
  "servicioCuatro servicioCinco none";
  grid-column-gap: 5px;
} 

.servicioUno{
  grid-area: servicioUno;
}

.servicioDos{
  grid-area: servicioDos;
}

.servicioTres{
  grid-area: servicioTres;
}

.servicioCuatro{
  grid-area: servicioCuatro;
}

.servicioCinco{
  grid-area: servicioCinco;
}

.serviciosTitulo {
  color: darkmagenta;
  list-style-type: none;
  font-weight: bold;
  line-height: 50px;
}

.serviciosParrafo {
  background-color: rgb(245, 167, 139);
  border-radius: 10%;
  padding: 15px;
}

/* MENU BÚSQUEDAS */

main h4{
  font-size: 1.5rem;
}

.menuBusquedas {
  font-size: 1.25rem;
  font-weight:500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
 }

 mian section div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content:space-between;
 }

.busquedasRecuadro {
  background-color: rgb(241, 156, 125);
  border-radius: 15px;
  color:black;
  line-height: 1.7em;
  margin: 20px 10px 30px 15px;
  flex-basis: 180px;
}

.button {
  background-color:rgba(255, 127, 80, 0.425);
  border-radius: 10%;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid blueviolet;
  cursor: pointer;
 }

.button:hover {
  background-color: rgba(223, 207, 207, 0.61);
}

/* MENU CONTACTO */

.contacto {
  font-size: 1.25rem;
  line-height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-areas: 
  "encabezado encabezado"
  "formulario video";
  grid-column-gap: 80px;
}

.encabezadoContacto {
  font-family: 'Rubik Glitch', cursiva;
  font-weight: 600;
  text-align: center; 
  grid-area: encabezado;
}

section form {
  color:rgb(117, 14, 14);
  grid-area: formulario;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 20px;
  box-shadow:
       inset 0 -3em 3em rgba(243, 88, 49, 0.753),
             0 0  0 2px rgba(167, 19, 180, 0.527),
             0.3em 0.3em 1em rgba(229, 123, 233, 0.952);
  align-self: center;
  justify-self: center;
}

.itemForm {
  margin: 15px;
}

.inputContacto {
  padding: 1% 5% 1% 4%
}

.casillasForm {
  margin: 15px;
}

.textAreaForm {
  height: 100px;
  width: 100%;
}

.botonesForm {
  background-color: rebeccapurple;
  padding: 5px;
  border-radius: 10px;
  color: aliceblue;
  cursor: pointer;
}

.botonesForm:hover {
  background-color: rgba(226, 85, 49, 0.61);
  transform: translate(20px);
}

.videoContacto {
  grid-area: video;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 1400px) {

}   

@media screen and (max-width: 1200px) { 

}

/* MODIFICADO EL PUNTO DE QUIEBRE 1200px */
@media screen and (max-width: 1024px) {

  .logo {
    margin:0;
    padding: 0;
  }
  
  .nombreConsultora{
    font-size: 0.5rem;
    color: rgba(250, 102, 49, 0.747);
    text-align:start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;
  }
  
  nav ul {
    flex-basis: 10%;
    justify-content:space-evenly;
    align-items: center;
    color: white;
    font-size: 0.1rem;
  }
  
  .menuNosotros{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "nosotrosUno"
    "nosotrosDos"
    "nosotrosTres";
    grid-row-gap: 5px;
  }

  .nosotros {
    padding: 10px;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:center;
    justify-content:center;
  }
}

/* MODIFICADO EL PUNTO DE QUIEBRE 768px */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .logo {
    position: absolute;
    left:0.5rem;
    width: 100px;
    height: 100px;
  }
  
  .nombreConsultora{
    font-size: 0.7rem;
    text-align:center;
  }
  
  .menuNosotros{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "nosotrosUno"
    "nosotrosDos"
    "nosotrosTres";
    grid-row-gap: 5px;
  }

  .menuBusquedas {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
   }
  
   .contacto {
    font-size: 1.25rem;
    line-height: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
    "encabezado"
    "formulario"
    "video";
    grid-row-gap: 10px;
  }

  .encabezadoContacto {
    font-family: 'Rubik Glitch', cursiva;
    font-weight: 300;
    justify-self: flex-start;
  }
  
  section form {
    padding: 2px;
    align-self:flex-start;
  }
  
  .itemForm {
    margin: 1px;
  }
  
  .inputContacto {
    padding: 0%;
  }
  
  .casillasForm {
    margin: 10px;
  } 
}

@media screen and (max-width: 600px) {
  
}

@media screen and (max-width: 480px) {
   
}

/* MODIFICADO EL PUNTO DE QUIEBRE 425px */
@media screen and (max-width: 425px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas: 
    "logo"
    "nombreConsultora"
    "menu";
    align-items: center;
  }
  
  header span{
    width:100%; 
    grid-area:logo;
    position: ;
  }
  
  .logo a img{
    width:40px;
    margin-top: 30px; 
    margin-left: 180px;
  }

  .nombreConsultora{
    grid-area: nombreConsultora;
    font-size:0.6rem;
  }
  
  nav{
    grid-area: menu;
  }

  nav ul li{
    width: 100%;
    font-size: 0.6rem;
  }
  
  ul li a{
    text-decoration: none;
    text-transform: uppercase;
    cursor:pointer;
    padding: 2px;
    border-radius: 3px;
  }

  .bienvenida{
    font-size: 0.6rem;
  }

  .nosotrosTitulo{
    font-size: 0.8rem;
    line-height: 1rem;
    padding-top: 1rem;
    font-weight: bold;
  }

  .nosotrosParrafo{
    font-size: 0.6rem;
    line-height: 1rem;
    padding-top: 1rem;
  }

  #servicios {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "servicioUno servicioDos"
    "servicioTres servicioCuatro"
    "servicioCinco none";
    font-size: 0.5rem;
  } 

  #busquedas{
    font-size: 0.6rem;
  }

  .menuBusquedas {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    font-size: 0.5rem;
   }

  .contacto {
    font-size: 0.6rem;
    grid-template-columns:90vw;
  }

  .videoContacto {
    grid-area: video;
    width: 90vw;
  }
}

/* MODIFICADO EL PUNTO DE QUIEBRE 320px */
@media screen and (max-width: 320px) {
  .logo a img{
    width:40px;
    margin-top: 30px;
    margin-left: 130px;
  }

  #servicios {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "servicioUno"
    "servicioDos"
    "servicioTres"
    "servicioCuatro"
    "servicioCinco";
  } 

  .menuBusquedas {
    grid-template-columns: 1fr;
    grid-template-rows: repeat (8, 1fr);
   }

}

img{
  max-width: 100%;
  height: auto;
}